{% extends "base.html" %}
{% block title %}OPC参数配置{% endblock %}
{% block head %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <form action="{{ url_for('cs.load_opc_da') }}" method="post" id='shen' enctype="multipart/form-data">
            <fieldset disabled id='bj'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group row">
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">module_name</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-md " name='module' id="module">
                        <option>s_opcda_client1</option>
                        <option>s_opcda_client2</option>
                        <option>s_opcda_client3</option>
                    </select>
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">模块名称</label>
            </div>
            
            <div class="form-group row">
                <label for="main_server_ip"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_IP_Address</label>
                <div class="col-sm-4">
                    <input type="text" name='main_server_ip' class="form-control form-control-md" id="main_server_ip"
                        placeholder="Enter OPC Server IP address" style="width: 100%">
                    </div>
                    <label for="module" class="col-sm-2 col-form-label col-form-label-md">opc服务器地址</label>
            </div>
            <div class="form-group row">
                <label for="main_server_progid"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_ProgID</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-md " name='main_server_progid' id="main_server_progid">
                        <option>Intellution.OPCiFIX.1</option>
                        <option>Kepware.KEPServerEX.V6</option>
                        <option>Yokogawa.CSHIS_OPC.1</option>
                        <option>SUPCON.SCRTCore.1</option>
                        <option>OPCSystems.NET.1</option>
                    </select>
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请选择opc名称</label>
            </div>
            <div class="form-group row">
                <label for="main_server_classid"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_classID</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-md " name='main_server_classid' id="main_server_classid">
                        <option>3C5702A2-EB8E-11D4-83A4-00105A984CBD</option>
                        <option>7BC0CC8E-482C-47CA-ABDC-0FE7F9C6E729</option>
                        <option>E6C32641-F1CF-11D0-B0E4-080009CCD384</option>
                        <option>41EBD53D-36C4-4027-B2B4-09A6E4A362DD</option>
                        <option>6031BF75-9CF2-11D1-A97B-00C04FC01389</option>
                        <option>32FB9E42-29D6-4841-9218-9DA5E1515623</option>
                    </select>
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请选择classid名称</label>
            </div>            
            <div class="form-group row">
                <label for="main_server_domain"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_Domain</label>
                <div class="col-sm-4">
                    <input type="text" name="main_server_domain" class="form-control form-control-md"
                        id="main_server_domain" placeholder="OPC login name">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请输入域名</label>
            </div>
            <div class="form-group row">
                <label for="main_server_username"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_Username</label>
                <div class="col-sm-4">
                    <input type="text" name="main_server_username" class="form-control form-control-md"
                        id="main_server_username" placeholder="domain">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请输入用户名</label>
            </div>

            <div class="form-group row">
                <label for="main_server_password"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_Password</label>
                <div class="col-sm-4">
                    <input type="password" name="main_server_password" class="form-control form-control-md"
                        id="main_server_password" placeholder="OPC login password">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请输入密码</label>
            </div>
            <!--备用 OPC配置  -->
            <div class="form-group row">
                <label for="back_server_ip"
                    class="col-sm-2 col-form-label col-form-label-md">Back_OPC_Server_IP_Address</label>
                <div class="col-sm-4">
                    <input type="text" name='back_server_ip' class="form-control form-control-md" id="back_server_ip"
                        placeholder="Enter OPC Server IP address" style="width: 100%">
                    </div>
                    <label for="module" class="col-sm-2 col-form-label col-form-label-md">这里请填写OPC地址</label>
            </div>
            <div class="form-group row">
                <label for="back_server_progid"
                    class="col-sm-2 col-form-label col-form-label-md">Back_OPC_Server_ProgID</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-md " name='back_server_progid' id="back_server_progid">
                        <option>Intellution.OPCiFIX.1</option>
                        <option>Kepware.KEPServerEX.V6</option>
                        <option>Yokogawa.CSHIS_OPC.1</option>
                        <option>SUPCON.SCRTCore.1</option>
                        <option>OPCSystems.NET.1</option>
                    </select>
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请选择opc名称</label>
            </div>
            <div class="form-group row">
                <label for="back_server_classid"
                    class="col-sm-2 col-form-label col-form-label-md">Main_OPC_Server_classID</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-md " name='back_server_classid' id="back_server_classid">
                        <option>3C5702A2-EB8E-11D4-83A4-00105A984CBD</option>
                        <option>7BC0CC8E-482C-47CA-ABDC-0FE7F9C6E729</option>
                        <option>E6C32641-F1CF-11D0-B0E4-080009CCD384</option>
                        <option>41EBD53D-36C4-4027-B2B4-09A6E4A362DD</option>
                        <option>6031BF75-9CF2-11D1-A97B-00C04FC01389</option>
                    </select>
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请选择classid名称</label>
            </div>
            <div class="form-group row">
                <label for="back_server_domain"
                    class="col-sm-2 col-form-label col-form-label-md">Back_OPC_Server_Domain</label>
                <div class="col-sm-4">
                    <input type="text" name="back_server_domain" class="form-control form-control-md"
                        id="back_server_domain" placeholder="domain">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请输入域名</label>
            </div>
            <div class="form-group row">
                <label for="back_server_username"
                    class="col-sm-2 col-form-label col-form-label-md">Back_OPC_Server_Username</label>
                <div class="col-sm-4">
                    <input type="text" name="back_server_username" class="form-control form-control-md"
                        id="back_server_username" placeholder="OPC login name">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请输入用户名</label>
            </div>
            <div class="form-group row">
                <label for="back_server_password"
                    class="col-sm-2 col-form-label col-form-label-md">Back_OPC_Server_Password</label>
                <div class="col-sm-4">
                    <input type="password" name="back_server_password" class="form-control form-control-md"
                        id="back_server_password" placeholder="OPC login password">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请输入密码</label>
            </div>
            <div class="form-group row">
                <label for="file" class="col-sm-1 col-form-label col-form-label-md">上传位号:</label>
                <div class="col-sm-4 offset-1">
                    <input type="file" name='file' class="form-control form-control-md" id="file">
                </div>
                <label for="module" class="col-sm-2 col-form-label col-form-label-md">请选择excel上传</label>
            </div>
        </fieldset>
            <div class="form-group row">
                <div class="col-sm-4  offset-2">
                    <button type="button" class="btn btn-info btn-block btn-md" id='alter'
                        onclick="edit()">edit</button>
                    <button type="submit" class="btn btn-primary d-none btn-block btn-md" id='comm1'
                        onclick="save()">save</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    var csrftoken = $("meta[name=csrf-token]").attr("content");


    function edit() {
        alarms('开始编辑')
        $("#alter").addClass("d-none");
        $("#comm1").removeClass("d-none");
        $("#bj").removeAttr("disabled");;

    }

    function save() {
        $("#alter").removeClass("d-none");
        $("#comm1").addClass("d-none");
        $("#bj").addAttr("disabled");
    }


    $(document).ready(function () {

        $("#alter").click(function () {
            var module_name = $("#module").val()
            $.ajax({
                url: "{{url_for('cs.alter_opc_da')}}",
                data: {
                    'module': module_name
                },
                type: 'get',
                dataType: 'json',
                success: success,
                error: function (data) {
                    console.log("请填写完全");
                },
            });
            return false;
        });
    })

    function success(data) {

        $('#main_server_ip').val(data.opc.main_ip)
        $('#main_server_progid').val(data.opc.main_progid)
        $('#main_server_classid').val(data.opc.main_classid)
        $('#main_server_username').val(data.opc.main_username)
        $('#main_server_password').val(data.opc.main_password)
        $('#back_server_ip').val(data.opc.back_ip)
        $('#back_server_progid').val(data.opc.back_progid)
        $('#back_server_classid').val(data.opc.back_classid)
        $('#back_server_username').val(data.opc.back_username)
        $('#back_server_password').val(data.opc.back_password)


    }
</script>
{% endblock %}