{% extends 'base.html' %}

{% block title %}new issue{% endblock %}
{% block head %}
<style type="text/css">
    .contact-footer {
        background: #f85d5d;
        width: 100%;
        padding: 16px 0;
        text-align: center;
        margin-bottom: 16px;
    }
</style>
{% endblock %}
{% block content %}
<div class="contact-footer">
    <h6 class="display-4">Let's talk!</h6>
    <p>Project Manager, Designer and Developers are wating for your <strong>Issue</strong>.</p>

    {% if success %}
    <p>Thank you for your message. We'll get back to you shortly.</p>
    <p>Return to <a href="{{ url_for('index') }}">Home Page</a>.</p>

    {% else %}
</div>
<div class="text-center col-3 offset-2">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    {% for msg in errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ msg }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% endif %}

</div>
<div class="container">
    <form action="{{ url_for('faq.contact') }}" method='post' class="">

        {%for f in form%}
        {%if f.name == 'csrf_token' or f.name =='submit'%}
        <div class="form-group row">
            <div class="col-sm-7 offset-2">
                {{f}}
            </div>
        </div>
        {%else%}
        <div class="form-group row ">
            {{f.label(class='col-sm-2 col-form-label col-form-label-md')}}
            <div class="col-sm-7">
                {{f}}
            </div>

        </div>
        {%endif%}
        {%endfor%}
    </form>
</div>



{% endblock %}