{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}

<style>
  .text-center {
    margin-top: 65px;
  }
</style>
{% endblock %}
{% block content %}
<div class="jumbotron p-4">
<div class="row">
  <div class="text-center col-8">
    <img src="{{url_for('static',filename='pic/adam.jpg')}}" alt="泳池美女" class="img-fluid " style="height: 750px;" />
  </div>
  <div class="text-center col-3 ml-5" id='login'>
    <form class="form-signin" action="{{url_for('auth.login')}}" method="POST">
      {{ form.csrf_token }}
      <img class="mb-4" src="{{ url_for( 'static', filename='pic/bootstrap-solid.svg' ) }}" alt="" width="72"
        height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {{form.username}}
      {{form.password}}
      {{ form.recaptcha }}
      {{form.remember_me}}
      {{form.remember_me.label}}
      <p class="text-danger">{{error_msg}}</p>
      <p class="text-danger">{{msg}}</p>
      {{form.submit}}
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
    </form>
  </div>
</div>
</div>
{% endblock %}