{% extends "base.html" %}
{% block title %}vue{% endblock %}
{% block content %}
{% raw %}
<div id="app">

    <span v-bind:title="tips">鼠标悬停</span>
    <p v-if="seen">ddddd</p>

    <button v-on:click="reverseMessage" class="btn btn-info">逆转小徐</button>
    <button v-on:click="ajax_get" class="btn btn-info">ajax_get</button>
    <button v-on:click="ajax_post" class="btn btn-info">ajax_post</button>



    <table class="table table-bordered table-hover mt-2">
        <thead>
            <th>#id</th>
            <th>name</th>
            <th>age</th>
            <th>text</th>
            <th>firstName</th>
            <th>lastName</th>

        </thead>
        <tbody>
            <tr v-for="kk3rm bfe in users">
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.password}}</td>
                <td>{{u.text}}</td>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
            </tr>
        </tbody>

    </table>
    <p>Message is: {{ message }}</p>
    <input v-model="message" class="form-control w-50" placeholder="message" />
    <p>Using mustaches: {{ rawHtml }}</p>
    <p>Using v-html directive: <span v-html="rawHtml"></span></p>


    <button-counter></button-counter>

    <div :style="{ fontSize: postFontSize + 'em' }">
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:post="post"
            v-on:enlarge-text="postFontSize += 0.1"></blog-post>
    </div>
</div>
<script>
    // var csrftoken = "{{ csrf_token() }}"
    var csrftoken = $("meta[name=csrf-token]").attr("content");
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++" class="btn btn-info">You clicked me {{ count }} times.</button>'
    })

    Vue.component('blog-post', {
        props: ['post'],
        template:
            `
        <div class="blog-post">
            <h3>{{ post.title }}</h3>
            <button v-on:click="$emit('enlarge-text')" class="btn btn-info">
                Enlarge text
            </button>
            <div v-html="post.content"></div>
        </div>
      `
    })

    var vm = new Vue({

        el: '#app',
        // delimiters:["[[","]]"],
        data: {
            tips: "页面加载：" + new Date().toLocaleString(),
            seen: false,
            message: 'hello,world',
            rawHtml: '<span style="color:red">this should bu red</span>',
            posts: [
                { id: 1, title: 'My journey with Vue', content: "happy" },
                { id: 2, title: 'Blogging with Vue', content: "cry" },
                { id: 3, title: 'Why Vue is so fun', content: "jumpping" }
            ],
            postFontSize: 1,
            users: [
                { id: 1, name: "hyy", password: "123" },
                { id: 2, name: "xujing", password: "456" },
                { id: 3, name: "fangmeng", password: "789" },
            ],
        },
        computed: {
            reversedMessage: function () {
                return this.message.split("").reverse().join("")
            },
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            },
            ajax_get: function () {
                axios.get('/vue', {
                    params: {
                        'ID': 12345
                    }
                })
                    .then(res => {
                        this.users = res.data.groceryList
                        console.log(this.users);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            ajax_post: function () {
                axios.post('/vue',
                    {
                        'firstName': 'Fred',
                        'lastName': 'Flintstone'
                    },
                    {
                        headers: { "X-CSRFToken": csrftoken }
                    }

                )
                    .then(res => {
                        this.users = res.data.data
                        console.log(this.users);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        }



    })

</script>
{% endraw %}
{% endblock %}