{% extends "base.html" %}
{% block title %}新建用户{% endblock %}
{% block head %}
<style type="text/css">
.row{
    margin-top: 100px;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <form action="{{ url_for('user.add_user') }}" method="post" class="form-group-control">
            {{ form.csrf_token }}
            {{ form.username.label }} {{ form.username(size=20) }}
            {{ form.email.label }} {{ form.email(size=20) }}
            {{ form.password.label }} {{ form.password(size=20) }}
            <button type="submit" class="btn btn-primary">新建</button>
        </form>
    </div>
</div>
{% endblock %}
