{% extends "base.html" %}
{% block title %}sensor{% endblock %}
{% block head %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <!-- 标题 -->

        <nav class="navbar justify-content-between" style="background-color: #058dee;">

            <a class="navbar-brand">
                <img src="/static/pic/bootstrap-solid.svg" width="30" height="30" class="d-inline align-middle" alt="">
                Sensor
            </a>

            <span class="navbar-text">
                Navbar text with an inline element
            </span>
            <form action="{{request.path}}" method="get" class="form-inline my-2 my-lg-0 needs-validation" novalidate>
                <div class="form-group">
                    <select class=" custom-select" name='module' id="module" required>
                        <option value="">select module</option>
                        <option>s_opcda_client1</option>
                        <option>s_opcda_client1</option>
                        <option>s_opcda_client2</option>
                        <option>s_opcda_client3</option>
                        <option>modbus1</option>
                        <option>modbus2</option>
                    </select>
                </div>
                <button class="btn btn-warning  my-2 my-sm-0" type="submit">点击 查询</button>
            </form>
        </nav>
        <!-- 功能表单 -->

        <hr class="border-bottom border-danger" />
        <!-- issue卡片 -->
        <div class="card-deck">
            {% for sensor in paginate.items %}

            <div class="card border-success mb-3" style="max-width: 30rem;">
                <div class="card-header bg-transparent border-success">
                    <h3>
                        <span class="text-muted">报警类别:</span>
                        <span class="badge badge-info badge-pill">
                            {{sensor.data_type}}</span>
                    </h3>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title text-info">
                        <span class="badge badge-info badge-pill">关键字:</span>
                        {{ sensor['quality'] }}
                    </h5>
                    <blockquote class="blockquote mb-0">
                        <p class="card-text text-danger">{{ sensor['value'] }}</p>
                        <footer class="blockquote-footer">
                            <cite title="Source Title">{{ sensor['tag'] }}:{{ sensor['value']}}</cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="card-footer bg-transparent border-success d-flex flex-row-reverse">
                    <cite title="Source Title">On:{{ sensor['timestamp']}}</cite>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- 分页 -->
        <div class="row mt-4 ">
            <div class="col-md-12 col-sm-12 ">
                <nav>
                    <ul class="pagination pagination-md justify-content-end">
                        <ul class="pagination  justify-content-end" id='page'>
                            <li class="page-item ">
                                {% if paginate.has_prev %}
                                <a class="page-link form-control" tabindex="-1"
                                    href="/show_sensor?page={{ paginate.prev_num }}">Previous</a>
                                {% endif %}
                            </li>
                            {%  for i in  paginate.iter_pages() %}
                            {% if i %}
                            {%if paginate.page == i%}
                            <li class="page-item active">
                                <a class="page-link form-control" href="/show_sensor?page={{ i }}">{{ i }}</a>
                            </li>
                            {%else%}
                            <li class="page-item ">
                                <a class="page-link form-control" href="/show_sensor?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li class="page-item ">
                                <a class="page-link form-control" href="/show_sensor?page={{ i }}">...</a>
                            </li>

                            {% endif %}

                            {% endfor %}

                            {% if paginate.has_next %}
                            <a class="page-link form-control" href="/show_sensor?page={{ paginate.next_num }}">Next</a>
                            {% endif %}

                            </li>
                        </ul>

                        <li class="page-item"><a class="page-link form-control">共</a></li>
                        <input id='total' name='total' disabled class="form-control" style="width: 60px;"
                            value="{{ paginate.total }}" />
                        <li class="page-item"><a class="page-link form-control">条</a></li>
                        <li class="page-item"><a class="page-link form-control">共</a></li>
                        <input id='pages' name='pages' disable class="form-control" style="width: 60px;"
                            value="{{ paginate.pages }}" />
                        <li class="page-item"><a class="page-link form-control">页</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>tag</th>
                    <th>value</th>
                    <th>data_type</th>
                    <th>quality</th>
                    <th>timestamp</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id='sensor'>
            </tbody>
        </table>
    </div>
    <!-- 分页 -->
    <div class="row mt-5">
        <div class="col-md-12 col-sm-12 ">
            <nav>
                <ul class="pagination justify-content-end">
                    <select class="form-control " name='pages' id="pages" onchange="pages(this)"
                        style="width: fit-content;">
                        <option selected>5</option>
                        <option>10</option>
                        <option>12</option>
                        <option>20</option>
                        <option>50</option>
                    </select>

                    <ul class="pagination  justify-content-end" id='alarm_page'>
                        <li class="page-item "><a class="page-link form-control " onclick=" pre()">Pres</a></li>
                        <li class="page-item"><a class="page-link form-control btn btn-info" id='page1'
                                onclick="page(this)">1</a></li>
                        <li class="page-item"><a class="page-link form-control" onclick=" next()">Next</a></li>
                    </ul>

                    <li class="page-item"><a class="page-link form-control">共</a></li>
                    <input id='nums' name='nums' class="form-control" style="width: 60px;" />
                    <li class="page-item"><a class="page-link form-control">条</a></li>
                    <li class="page-item"><a class="page-link form-control">共</a></li>
                    <input id='max_pages' name='max_pages' class="form-control" style="width: 60px;" />
                    <li class="page-item"><a class="page-link form-control">页</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    var csrftoken = $("meta[name=csrf-token]").attr("content");

    function page() {
        $.ajax({
            url: "{{url_for('cs.show_sensor')}}",
            data: {
                "id": 1,
            },
            headers: {
                "X-CSRFToken": csrftoken
            },
            type: 'post',
            dataType: 'json',
            success: pages_success,
            error: function (data) {
                console.log(data);
            },
        });
        return false
    }

    function pages_success(data) {
        var $comm = '';
        var $lis = '';
        var $lis1 = '';
        var $option = '';
        var count = data.tags.length
        console.log(count)
        if (count > 0) {
            for (i in data.tags) {
                var $td = ''
                for (t in data.tags[i]) {
                    $td += '<td scope="row" class="table-warning">' + data.tags[i][t] + '</td>'
                };
                $comm += '<tr>' + $td + '<td scope="row" class="table-warning">' + '<button class="btn btn-info">' +
                    "确认报警" + '</button>' + '</td>' + '</tr>'
                var $subject_con = $('#sensor');
                $subject_con.html($comm)
            }
        } else {
            $comm += '<tr>' + '<td scope="row" class="table-danger">' + '当前暂无报警。。。' + '</td>' + '</tr>'
            var $subject_con = $('#sensor');
            $subject_con.html($comm)
        }

        var head = '<li class="page-item "><a class="page-link form-control" onclick="pre()">' + 'Pres' + '</a></li>'
        var tail = '<li class="page-item "><a class="page-link form-control" onclick="next()">' + 'Next' + '</a></li>'
        if (data.max_pages > 0) {
            for (var i = 1; i < data.max_pages + 1; i++) {
                $lis +=
                    '<li class="page-item"><a class="page-link form-control btn btn-info mr-2" id="page' + i +
                    '" onclick="page(this)">' +
                    i + '</a></li>'
            }
            $lis1 = head + $lis + tail
            var $subject_con = $('#alarm_page');
            $subject_con.html($lis1)
        } else {
            $lis1 +=
                '<li class="page-item"><a class="page-link form-control btn btn-info" id="page1" onclick="page(this)">' +
                '对不起，没有' + '</a></li>'
            var $subject_con = $('#alarm_page');
            $subject_con.html($lis1)
        }
    }
    var int = self.setInterval("page()", 5000);
    (function () {
        'use strict'

        window.addEventListener('load',
            function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation')

                // Loop over them and prevent submission
                Array.prototype.filter.call(
                    forms,
                    function (form) {
                        form.addEventListener('submit',
                            function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }
                                form.classList.add('was-validated')
                            }, false)
                    })
            }, false)
    }())
</script>
{% endblock %}