{% extends "base.html" %}
{% block title %}modbus参数{% endblock %}
{% block head %}
<style type="text/css">

</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="align-middle col-12 border-bottom  mb-2">
        <h5 class="display-4 d-inline">
            <span class="text-muted ">日志</span>
        </h5>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <!-- 参数表 -->
        <form id='log_form'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
                <div class="form-group form-inline mb-0">
                    <label class="form-input-label mr-1" for="log_level">日志级别:</label>
                    <select class="form-control mr-1 col-1" id="log_level" name='log_level'>
                        <option>INFO</option>
                        <option>ERROR</option>
                        <option>DEBUG</option>
                        <option selected>ALL</option>
                    </select>
                    <label class="form-input-label mr-1" for="log_day">日志日期:</label>
                    <input class="form-control col-1" type="text" name="log_day" id="log_day" value="">

                    <label class="form-input-label mr-1" for="log_day_start">开始时间:</label>
                    <input class="form-control col-1" type="text" name="log_day_start" id="log_day_start" value="">

                    <label class="form-input-label mr-1" for="log_day_end">结束时间:</label>
                    <input class="form-control col-1" type="text" name="log_day_end" id="log_day_end" value="">


                    <button type="button" class="btn btn-outline-info ml-1 " onclick="select_log()">
                        <span data-feather="upload"></span>
                        开始查询
                    </button>
                    <button type="button" class="btn btn-outline-success ml-1 ">
                        <span data-feather="calendar"></span>
                        导出配置
                    </button>
                    <label class="form-input-label mr-1" for="key"></label>
                    <input class="form-control col-2" type="text" name="key" id="key"" value="">
                        

                        <button type=" button" class="btn btn-outline-success ml-1 " onclick="search()">
                    <span data-feather="calendar"></span>搜索日志
                    </button>


                </div>
            </div>
        </form>


        <!-- 标签表 -->
        <table id='table' class="table table-bordered table-hover">
            <caption>List of log</caption>
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">日志时间</th>
                    <th scope="col">日志级别</th>
                    <th scope="col">日志内容</th>


                </tr>
            </thead>
            <tbody id='logs'>
                {% for log in logs_list %}
                <tr>
                    <td scope="row" class="table-light">{{loop.index}}</td>
                    <td scope="row" class="table-success">{{log[0]}}</td>
                    <td class="table-info">{{log[1]}}</td>
                    <td class="table-secondary">{{log[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<!-- 分页 -->
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <nav>
            <ul class="pagination justify-content-end">
                <select class="form-control " name='pages' id="pages" onchange="pages(this)"
                    style="width: fit-content;">
                    <option selected>5</option>
                    <option>10</option>
                    <option>12</option>
                    <option>20</option>
                    <option>50</option>
                </select>

                <ul class="pagination  justify-content-end" id='page'>
                    <li class="page-item "><a class="page-link form-control ">Pres</a></li>
                    <li class="page-item"><a class="page-link form-control btn btn-info" id='page1'
                            onclick="page(this)">1</a></li>
                    <li class="page-item"><a class="page-link form-control" href="#">Next</a></li>
                </ul>

                <li class="page-item"><a class="page-link form-control">共</a></li>
                <input id='total' name='total' class="form-control" style="width: 60px;" />
                <li class="page-item"><a class="page-link form-control">条</a></li>
                <li class="page-item"><a class="page-link form-control">共</a></li>
                <input id='max_pages' name='max_pages' class="form-control" style="width: 60px;" />
                <li class="page-item"><a class="page-link form-control">页</a></li>
            </ul>
        </nav>
    </div>
</div>


<script>
    var csrftoken = $("meta[name=csrf-token]").attr("content");

    jQuery(function () {
        jQuery('#log_day').datetimepicker({
            format: 'Y-m-d',
            timepicker: false,
            validateOnBlur: true,
            closeOnDateSelect: true,
        });
        jQuery('#log_day_start').datetimepicker({
            format: 'H:i:s',
            datepicker: false,
            timepicker: true,
            validateOnBlur: true,
            closeOnDateSelect: true,
            onShow: function (ct) {
                this.setOptions({
                    // maxDate: jQuery('#log_day_end').val() ? jQuery(
                    //     '#log_day_end').val() : false,
                    maxTime: jQuery('#log_day_end').val() ? jQuery(
                        '#log_day_end').val() : false
                })
            },
        });
        jQuery('#log_day_end').datetimepicker({
            format: 'H:i:s',
            datepicker: false,
            timepicker: true,
            validateOnBlur: true,
            closeOnDateSelect: true,
            onShow: function (ct) {
                this.setOptions({
                    // minDate: jQuery('#log_day_start').val() ? jQuery(
                    //     '#log_day_start').val() : false,
                    minTime: jQuery('#log_day_start').val() ? jQuery(
                        '#log_day_start').val() : false
                })
            },
        });
        $.datetimepicker.setLocale('zh');
    });


    $(document).ready(function () {})


    function select_log() {

        var log_level = $("#log_level").val();
        var log_day = $("#log_day").val();
        var log_day_start = $("#log_day_start").val();
        var log_day_end = $("#log_day_end").val();
        var pages = $("#pages").val();
        var $subject_con = $('#logs');
        $subject_con.html('')
        $.ajax({
            url: "{{url_for('cs.log')}}",
            // data: $('#log_form').serialize(),
            data: {
                "log_level": log_level,
                "log_day": log_day,
                "log_day_start": log_day_start,
                "log_day_end": log_day_end,
                "pages": pages,
                "page": 1,
            },
            // contentType: "application/json;charset=utf-8",
            type: 'post',
            dataType: 'json',
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: pages_success,
            error: function (data) {
                console.log(data);
            },
        });
        return false;
    }

    function search(obj) {
        var log_level = $("#log_level").val();
        var log_day = $("#log_day").val();
        var log_day_start = $("#log_day_start").val();
        var log_day_end = $("#log_day_end").val();
        var pages = $("#pages").val();
        var key = $("#key").val();
        // var $subject_con = $('#logs');
        // $subject_con.html('')
        $.ajax({
            url: "{{url_for('cs.log')}}",
            data: {
                "key": key,
                "log_level": log_level,
                "log_day": log_day,
                "log_day_start": log_day_start,
                "log_day_end": log_day_end,
                "pages": pages,
                "page": 1,
            },
            type: 'post',
            headers: {
                "X-CSRFToken": csrftoken
            },
            dataType: 'json',
            success: pages_success,
            error: function (data) {
                console.log(data);
            },
        });
        return false;
    }

    function page(obj) {
        var log_level = $("#log_level").val();
        var log_day = $("#log_day").val();
        var log_day_start = $("#log_day_start").val();
        var log_day_end = $("#log_day_end").val();
        var pages = $("#pages").val();
        var page = $(obj).text();
        $.ajax({
            url: "{{url_for('cs.log')}}",
            data: {
                "log_level": log_level,
                "log_day": log_day,
                "log_day_start": log_day_start,
                "log_day_end": log_day_end,
                "pages": pages,
                "page": page,
            },
            type: 'post',
            headers: {
                "X-CSRFToken": csrftoken
            },
            dataType: 'json',
            success: page_success,
            error: function (data) {
                console.log(data);
            },
        });
        return false;
    }

    function pages(obj) {
        var log_level = $("#log_level").val();
        var log_day = $("#log_day").val();
        var log_day_start = $("#log_day_start").val();
        var log_day_end = $("#log_day_end").val();
        var pages = $(obj).val();
        $.ajax({
            url: "{{url_for('cs.log')}}",
            data: {
                "log_level": log_level,
                "log_day": log_day,
                "log_day_start": log_day_start,
                "log_day_end": log_day_end,
                "pages": pages,
                "page": 1,
            },
            headers: {
                "X-CSRFToken": csrftoken
            },
            type: 'post',
            dataType: 'json',
            success: pages_success,
            error: function (data) {
                console.log(data);
            },
        });
        return false;
    }

    function page_success(data) {
        var $comm = '';
        // var $td = '';
        var $option = '';
        var count = data.total //组数
        $("#total").val(count)
        $("#max_pages").val(data.max_pages)
        if (count > 0) {
            var $comm = '';
            for (var i = 0; i < data.logs_list.length; i++) {
                var $td = ''
                for (var j = 0; j < data.logs_list[i].length; j++) {
                    $td +=
                        '<td scope="row" class="table-warning">' + data.logs_list[i][j] + '</td>'
                };
                $comm += '<tr>' + '<td scope="row" class="table-info">' + i + '</td>' + $td + '</tr>'
                var $subject_con = $('#logs');
                $subject_con.html($comm)
            }

        } else {
            $comm += '<tr>' + '<td scope="row" class="table-danger">' + '没有位号信息，请重新上传。。。' + '</td>' + '</tr>'
            var $subject_con = $('#tags');
            $subject_con.html($comm)
        }
    }

    function pages_success(data) {
        var $comm = '';
        var $lis = '';
        var $lis1 = '';
        var count = data.total //条数
        console.log(data.logs_list, data.total, data.max_pages, data.msg)
        $("#total").val(count)
        $("#max_pages").val(data.max_pages)
        if (count > 0) {
            var $comm = '';
            for (var i = 0; i < data.logs_list.length; i++) {
                var $td = ''
                for (var j = 0; j < data.logs_list[i].length; j++) {
                    $td +=
                        '<td scope="row" class="table-warning">' + data.logs_list[i][j] + '</td>'
                };
                $comm += '<tr>' + '<td scope="row" class="table-info">' + i + '</td>' + $td + '</tr>'
                var $subject_con = $('#logs');
                $subject_con.html($comm)
            }
        } else {
            $comm += '<tr>' + '<td scope="row" class="table-danger">' + '没有找到搜索的信息。。。' + '</td>' + '</tr>'
            var $subject_con = $('#logs');
            $subject_con.html($comm)
            alarms(data.msg)
        }

        var head = '<li class="page-item "><a class="page-link form-control">' + 'Pres' + '</a></li>'
        var tail = '<li class="page-item "><a class="page-link form-control">' + 'Next' + '</a></li>'
        if (data.max_pages > 0) {
            for (var i = 1; i < data.max_pages + 1; i++) {
                $lis +=
                    '<li class="page-item"><a class="page-link form-control btn btn-info" id="page1" onclick="page(this)">' +
                    i + '</a></li>'
            }
            $lis1 = head + $lis + tail
            var $subject_con = $('#page');
            $subject_con.html($lis1)
            alarms(data.msg);
        } else {
            $lis1 +=
                '<li class="page-item"><a class="page-link form-control btn btn-info" id="page1" onclick="page(this)">' +
                '对不起，没有' + '</a></li>'
            var $subject_con = $('#logs');
            $subject_con.html($comm)
        }
    }
</script>
{% endblock %}