{% extends "base.html" %}
{% block title %}impress{% endblock %}
{% block head %}
<link href="{{url_for('static',filename='css/impress.css')}}" rel="stylesheet" />
<style>
</style>
{% endblock %}
{% block content %}

<div id="impress">
  <div class="no-support-message">
    Your browser doesn't support impress.js. Try Chrome or Safari.
  </div>

  <div class="step" data-x="100" data-y="0">
    This is slide 1. It slides left 300 pixels.
    <button class="btn btn-info btn-md">modbus配置</button>
  </div>

  <div class="step" data-x="100" data-y="-50">
    This is slide 2. It slides down 400 pixels.
    <button class="btn btn-info btn-md">opc配置</button>

  </div>

  <div class="step" data-x="100" data-y="-150" data-scale="0.9">
    This is slide 3. It scales everything up by a factor of 2.
  </div>

</div>

<script type="text/javascript" src="{{url_for('static',filename='js/impress.js')}}"></script>
<script type="text/javascript">
  impress().init();
</script>
{% endblock %}