{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<style type="text/css"></style>
{% endblock %}
{% block content %}


<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <div class="d-flex justify-content-end">
        <img src="{{url_for('static',filename='pic/logo.png')}}" class="img-fluid p-0 m-0 d-inline"
            alt="Responsive image" />
    </div>
    <div class=" row justify-content-md-between ">



        <div class="col-md-6 px-0  ">
            <h1 class="display-4 font-italic">Title of a featured blog post</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently
                about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>


    </div>
</div>

<h1 class="display-3  py-3 my-3">Hello, OPCer! Welcome to <span class="badge badge-info">Configuration
        Studio.</span>
</h1>
<blockquote class="blockquote text-right ">


    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <p class="mb-0">{{ message }}</p>

    {% endfor %}

    {% endif %}
    {% endwith %}


    <footer class="blockquote-footer">Power by <cite title="Source Title">冒险湾一狗</cite></footer>
</blockquote>

<hr class="my-4">
<div class="shadow-lg p-3 mb-2 bg-light rounded">
    <h5 class="display-5 mb-0"> ——>点击按钮开始<span class="badge badge-info">配置之旅</span>
        <—— </h5> </div> <a class="btn btn-info btn-lg" href="{{ url_for('cs.module_reg') }}" role="button">のModule
            注册</a>
            <a class="btn btn-success btn-lg" href="{{ url_for('cs.load_opc_da') }}" role="button">のOPC 配 置</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('cs.load_modbus') }}" role="button">のModbus 配 置</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('user.add_user') }}" role="button">のUser 注 册</a>
            <a class="btn btn-danger btn-lg" href="{{ url_for('issue.show_issue') }}" role="button">の我要吐槽</a>
            <a class="btn btn-warning btn-lg" href="{{ url_for('issue.contact') }}" role="button">の联系我们</a>
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            <div class="alert-message block-message ">
                <a class="close" href="#">×</a>
                <ul>comment
                    {%- for msg in errors %}
                    <li>{{ msg }}</li>
                    {% endfor -%}
                </ul>
            </div>
            {% endif %}
            {% endwith %}

            <!-- <ul class="nav flex-column" id='es6'>
      </ul> -->

            <script type="module">

                import {route} from  "{{url_for('static',filename='js/route.js')}}"
  var $comm=''
    route.map( (item,index) => {
    $comm+=
    '<li class="nav-item">' +
      '<a class="nav-link border-bottom" href="'+item.url+'"'+'"style="font-size: x-large;font-style: italic;font-family: cursive;">'+
        '<span data-feather="grid" style="width: 24px; height: 24px;color:black;"></span>'+
        item.name+
        '</a></li>'

  })
    var $subject_con = $('#es6');
    $subject_con.html($comm)




</script>

            {% endblock %}